$port-red: #fa4169;
$port-green: #00ba88;
$port-orange: #ef8031;
$port-light-orange: #ef803110;
$port-black: #000000;
$port-balack: #11142d;
$port-yellow: #ffd726;
$port-dark-blue: #0049c6;
$port-blue: #048ecb;
$port-sky-blue: #3f8cff;
$port-light-blue: #e6e6e6;
$port-gray: #808191;
$port-light-gray: #f7f7f7;
$port-background-light: #e4e4e4;
$port-white: #ffffff;
$port-off-white: #e5e5e5;
$port-faint-gray: #f0f3f6;
$port-secondary-orange: #ff8800;
$port-secondary-gray: #676a79;
$port-secondary-black: #29292e;
$port-secondary-green: #3bcc08;
