$percentage-5:5%;
$percentage-10:10%;
$percentage-15:15%;
$percentage-20:20%;
$percentage-25:25%;
$percentage-30:30%;
$percentage-35:35%;
$percentage-40:40%;
$percentage-45:45%;
$percentage-50:50%;
$percentage-55:55%;
$percentage-60:60%;
$percentage-65:65%;
$percentage-70:70%;
$percentage-75:75%;
$percentage-80:80%;
$percentage-85:85%;
$percentage-90:90%;
$percentage-95:95%;
$percentage-100:100%;
