@import "./src/styles/index.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

html,
body {
  padding: 0;
  width: 100%;
  margin: 0;
  font-family: "Inter", sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background-color: #343434;
  color: #fff;
}

* {
  box-sizing: border-box;
  @apply transition-all;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
